<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Project</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Austin Animal Center Outcomes and Austin City Satisfaction</h1>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
    <div class="row">
        <div class="well col-md-4">
          <h5>SELECT Measure:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
          <div id="pie"></div>
        </div>
        <div class="well col-md-8">
          <h4>Animal City Map (Zipcode Outlines)</h4>
          <!-- <select id="selDataset" onchange="optionChanged(this.value)"></select> -->
          <div id="graph"></div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="well col-md-6">
          <h4>Animal Outcomes by Year</h4>
          <div id="sample-animaldata"></div>
        </div>
        <div class="well col-md-6">
          <h4>Safety by Year</h4>
          <div id="sample-safetydata"></div>
        </div>
    </div>
   

  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- <script src="{{ url_for('static', filename='../static/js/app2.js') }}"></script>
  <script src="{{ url_for('static', filename='../static/js/app.js') }}"></script> -->
  <script type="text/javascript" src="../static/js/app.js"></script>
  <script type="text/javascript" src="../static/js/app2.js"></script>

</body>

</html>
